################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BowlingGameKata
/src/bin/Debug/netcoreapp3.1
/src/obj
/test/BowlingGameTest/bin/Debug/netcoreapp3.1
/test/BowlingGameTest/obj
